src/main/resources/repository.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="urn:ebx:ebx-dataservices" xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:doc="urn:ebx-schemas:dataservices_1.0" xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/04/secext" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:ebx:ebx-dataservices" name="ebx-dataservices">
    <wsdl:types>
        <xs:schema xmlns="http://schemas.xmlsoap.org/ws/2002/04/secext" targetNamespace="http://schemas.xmlsoap.org/ws/2002/04/secext">
            <xs:element name="Security" type="wsse:Security"/>
            <xs:complexType name="Security">
                <xs:sequence>
                    <xs:element name="UsernameToken" type="wsse:UsernameToken"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UsernameToken">
                <xs:sequence>
                    <xs:element name="Username" type="xs:string"/>
                    <xs:element name="Password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns="urn:ebx-schemas:dataservices_1.0" targetNamespace="urn:ebx-schemas:dataservices_1.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://localhost:8080/ebx-dataservices/ressources/xsd/common_1.0.xsd"/>
            <xs:import namespace="http://schemas.xmlsoap.org/ws/2002/04/secext"/>
            <xs:element name="closeBranch" type="closeBranch_RequestType"/>
            <xs:element name="closeBranch_Response" type="closeBranch_ResponseType"/>
            <xs:element name="closeVersion" type="closeVersion_RequestType"/>
            <xs:element name="closeVersion_Response" type="closeVersion_ResponseType"/>
            <xs:element name="createBranch" type="createBranch_RequestType"/>
            <xs:element name="createBranch_Response" type="createBranch_ResponseType"/>
            <xs:element name="createVersion" type="createVersion_RequestType"/>
            <xs:element name="createVersion_Response" type="createVersion_ResponseType"/>
            <xs:element name="lockBranch" type="lockBranch_RequestType"/>
            <xs:element name="lockBranch_Response" type="lockBranch_ResponseType"/>
            <xs:element name="mergeBranch" type="mergeBranch_RequestType"/>
            <xs:element name="mergeBranch_Response" type="mergeBranch_ResponseType"/>
            <xs:element name="unlockBranch" type="unlockBranch_RequestType"/>
            <xs:element name="unlockBranch_Response" type="unlockBranch_ResponseType"/>
            <xs:element name="validate" type="validate_RequestType"/>
            <xs:element name="validate_Response" type="validate_ResponseType"/>
            <xs:element name="validateInstance" type="validateInstance_RequestType"/>
            <xs:element name="validateInstance_Response" type="validateInstance_ResponseType"/>
            <xs:complexType name="closeBranch_RequestType">
                <xs:sequence>
                    <xs:element name="branch">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="deleteDataOnClose" minOccurs="0" default="false">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines whether the specified snapshot or dataspace and its associated snapshots will be deleted upon closure.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise si l&apos;espace de données (avec ses images) ou l&apos;image sera supprimé après fermeture.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="deleteHistoryOnClose" minOccurs="0" default="false">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines whether the specified snapshot or dataspace and its associated snapshots history will be deleted upon closure.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise si les données d&apos;historisation de l&apos;espace de données (avec ses images) ou de l&apos;image seront supprimées après fermeture.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="closeBranch_ResponseType">
                <xs:sequence>
                    <xs:element name="status">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="closeVersion_RequestType">
                <xs:sequence>
                    <xs:element name="version">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the name of the snapshot to create. If empty, a name will be computed automatically.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise le nom de l&apos;image à créer. Si le champ est laissé vide, un nom sera renseigné automatiquement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="deleteDataOnClose" minOccurs="0" default="false">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines whether the specified snapshot or dataspace and its associated snapshots will be deleted upon closure.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise si l&apos;espace de données (avec ses images) ou l&apos;image sera supprimé après fermeture.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="closeVersion_ResponseType">
                <xs:sequence>
                    <xs:element name="status">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createBranch_RequestType">
                <xs:sequence>
                    <xs:element name="branch">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="childBranchName" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the name of the child dataspace to create. If empty, a name will be computed automatically.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise le nom de l&apos;espace données enfant à créer. Si le champ est laissé vide un nom sera renseigné automatiquement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="owner" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Dataspace or snapshot owner.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Propriétaire de l&apos;espace de données ou de l&apos;image.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="branchToCopyPermissionFrom" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Dataspace used to copy permission from.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Espace de données utilisé pour copier les permissions.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="documentation" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="locale" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="label" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="description" minOccurs="0" maxOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createBranch_ResponseType">
                <xs:sequence>
                    <xs:element name="status">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="childBranchName">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createVersion_RequestType">
                <xs:sequence>
                    <xs:element name="branch">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="versionName" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the name of the snapshot to create. If empty, a name will be computed automatically.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise le nom de l&apos;image à créer. Si le champ est laissé vide, un nom sera renseigné automatiquement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="owner" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Dataspace or snapshot owner.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Propriétaire de l&apos;espace de données ou de l&apos;image.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="documentation" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="locale" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="label" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="description" minOccurs="0" maxOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createVersion_ResponseType">
                <xs:sequence>
                    <xs:element name="status">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="versionName">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lockBranch_RequestType">
                <xs:sequence>
                    <xs:element name="branch">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="durationToWaitForLock" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the maximum duration (in seconds) for locking a dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise la durée maximum (en secondes) d&apos;attente pour le verrouillage de l&apos;espace de données.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="message" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines a localized message for locking a dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise un message localisé de verrouillage sur l&apos;espace de données.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="locale" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="label" minOccurs="1" maxOccurs="1"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lockBranch_ResponseType">
                <xs:sequence>
                    <xs:element name="status">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mergeBranch_RequestType">
                <xs:sequence>
                    <xs:element name="branch">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="deleteDataOnMerge" minOccurs="0" default="false">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines whether the child dataspace and its associated snapshots will be deleted upon merge.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise si l&apos;espace de données enfant (avec ses images) sera supprimé après fusion.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="deleteHistoryOnMerge" minOccurs="0" default="false">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines whether the child dataspace and its associated snapshots history will be deleted upon merge.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise si les données d&apos;historisation de l&apos;espace de données (avec ses images) ou de l&apos;image seront supprimées après fusion.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mergeBranch_ResponseType">
                <xs:sequence>
                    <xs:element name="status">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="unlockBranch_RequestType">
                <xs:sequence>
                    <xs:element name="branch">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="unlockBranch_ResponseType">
                <xs:sequence>
                    <xs:element name="status">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validate_RequestType">
                <xs:sequence>
                    <xs:element name="branch" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="version" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the name of the snapshot to create. If empty, a name will be computed automatically.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise le nom de l&apos;image à créer. Si le champ est laissé vide, un nom sera renseigné automatiquement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validate_ResponseType">
                <xs:sequence>
                    <xs:element name="validationReport" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="instanceName">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="fatals">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="errors">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="infos">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="warnings">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validateInstance_RequestType">
                <xs:sequence>
                    <xs:element name="branch" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the working dataspace.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise l&apos;espace de données de travail.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="version" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the name of the snapshot to create. If empty, a name will be computed automatically.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise le nom de l&apos;image à créer. Si le champ est laissé vide, un nom sera renseigné automatiquement.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="instance">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines the dataset to validate.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise le jeu de données à valider.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="ensureActivation" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines if validation must also check that this dataset is activated (default is &apos;false&apos;)</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise si la validation doit aussi vérifier que le jeu de données est activée (La valeur par défaut est &apos;false&apos;)</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:boolean"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="details" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Defines that a detailed validation report has to be returned.</xs:documentation>
                            <xs:documentation xml:lang="fr-FR">Précise qu&apos;un rapport de validation détaillé doit être renvoyé.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:attribute name="severityThreshold" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">Defines that a detailed validation report has to be returned.</xs:documentation>
                                    <xs:documentation xml:lang="fr-FR">Précise qu&apos;un rapport de validation détaillé doit être renvoyé.</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="locale" type="xs:string">
                            </xs:attribute>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validateInstance_ResponseType">
                <xs:sequence>
                    <xs:element name="validationReport" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="instanceName">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="fatals">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="errors">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="infos">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="warnings">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:boolean"/>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="details" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="reportItem" minOccurs="0" maxOccurs="unbounded">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="severity">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string"/>
                                                            </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="userMessage">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="internalId">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string"/>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="text">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string"/>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="subject">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="table" minOccurs="0">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string"/>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="predicate" minOccurs="0">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string"/>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                    <xs:element name="path" minOccurs="0">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string"/>
                                                                        </xs:simpleType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="StandardException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="code" type="xs:string" nillable="false"/>
                        <xs:element name="label" type="xs:string" nillable="false"/>
                        <xs:element name="description" type="xs:string" nillable="false"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="session">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="trackingInformation" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="inputParameters" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string"/>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="value">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string"/>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="closeBranch_In">
        <wsdl:part name="parameters" element="doc:closeBranch"/>
    </wsdl:message>
    <wsdl:message name="closeBranch_Out">
        <wsdl:part name="parameters" element="doc:closeBranch_Response"/>
    </wsdl:message>
    <wsdl:message name="closeVersion_In">
        <wsdl:part name="parameters" element="doc:closeVersion"/>
    </wsdl:message>
    <wsdl:message name="closeVersion_Out">
        <wsdl:part name="parameters" element="doc:closeVersion_Response"/>
    </wsdl:message>
    <wsdl:message name="createBranch_In">
        <wsdl:part name="parameters" element="doc:createBranch"/>
    </wsdl:message>
    <wsdl:message name="createBranch_Out">
        <wsdl:part name="parameters" element="doc:createBranch_Response"/>
    </wsdl:message>
    <wsdl:message name="createVersion_In">
        <wsdl:part name="parameters" element="doc:createVersion"/>
    </wsdl:message>
    <wsdl:message name="createVersion_Out">
        <wsdl:part name="parameters" element="doc:createVersion_Response"/>
    </wsdl:message>
    <wsdl:message name="lockBranch_In">
        <wsdl:part name="parameters" element="doc:lockBranch"/>
    </wsdl:message>
    <wsdl:message name="lockBranch_Out">
        <wsdl:part name="parameters" element="doc:lockBranch_Response"/>
    </wsdl:message>
    <wsdl:message name="mergeBranch_In">
        <wsdl:part name="parameters" element="doc:mergeBranch"/>
    </wsdl:message>
    <wsdl:message name="mergeBranch_Out">
        <wsdl:part name="parameters" element="doc:mergeBranch_Response"/>
    </wsdl:message>
    <wsdl:message name="unlockBranch_In">
        <wsdl:part name="parameters" element="doc:unlockBranch"/>
    </wsdl:message>
    <wsdl:message name="unlockBranch_Out">
        <wsdl:part name="parameters" element="doc:unlockBranch_Response"/>
    </wsdl:message>
    <wsdl:message name="validate_In">
        <wsdl:part name="parameters" element="doc:validate"/>
    </wsdl:message>
    <wsdl:message name="validate_Out">
        <wsdl:part name="parameters" element="doc:validate_Response"/>
    </wsdl:message>
    <wsdl:message name="validateInstance_In">
        <wsdl:part name="parameters" element="doc:validateInstance"/>
    </wsdl:message>
    <wsdl:message name="validateInstance_Out">
        <wsdl:part name="parameters" element="doc:validateInstance_Response"/>
    </wsdl:message>
    <wsdl:message name="Security">
        <wsdl:part name="Security" element="wsse:Security"/>
    </wsdl:message>
    <wsdl:message name="session">
        <wsdl:part name="session" element="doc:session"/>
    </wsdl:message>
    <wsdl:message name="StandardException">
        <wsdl:part name="fault" element="doc:StandardException"/>
    </wsdl:message>
    <wsdl:portType name="ebx-dataservices">
        <wsdl:operation name="closeBranch_Operation">
            <wsdl:documentation>
                <en_US>This operation closes a dataspace.</en_US>
                <fr_FR>Cette opération ferme un espace de données.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:closeBranch_In"/>
            <wsdl:output message="impl:closeBranch_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="closeVersion_Operation">
            <wsdl:documentation>
                <en_US>This operation closes a dataspace.</en_US>
                <fr_FR>Cette opération ferme un espace de données.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:closeVersion_In"/>
            <wsdl:output message="impl:closeVersion_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="createBranch_Operation">
            <wsdl:documentation>
                <en_US>This operation creates a new new dataspace.</en_US>
                <fr_FR>Cette opération crée un espace de données enfant.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:createBranch_In"/>
            <wsdl:output message="impl:createBranch_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="createVersion_Operation">
            <wsdl:documentation>
                <en_US>This operation creates a new snapshot.</en_US>
                <fr_FR>Cette opération crée une image.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:createVersion_In"/>
            <wsdl:output message="impl:createVersion_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="lockBranch_Operation">
            <wsdl:documentation>
                <en_US>This operation locks a dataspace.</en_US>
                <fr_FR>Cette opération verrouille un espace de données.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:lockBranch_In"/>
            <wsdl:output message="impl:lockBranch_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeBranch_Operation">
            <wsdl:documentation>
                <en_US>This operation merges a dataspace to its parent.</en_US>
                <fr_FR>Cette opération fusionne un espace de données avec son parent.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:mergeBranch_In"/>
            <wsdl:output message="impl:mergeBranch_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="unlockBranch_Operation">
            <wsdl:documentation>
                <en_US>This operation unlocks a dataspace.</en_US>
                <fr_FR>Cette opération déverrouille un espace de données.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:unlockBranch_In"/>
            <wsdl:output message="impl:unlockBranch_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="validate_Operation">
            <wsdl:documentation>
                <en_US>This operation validates a dataspace or a snapshot.</en_US>
                <fr_FR>Cette opération valide un espace de données ou une image.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:validate_In"/>
            <wsdl:output message="impl:validate_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
        <wsdl:operation name="validateInstance_Operation">
            <wsdl:documentation>
                <en_US>This operation validates a dataset.</en_US>
                <fr_FR>Cette opération valide un jeux de données.</fr_FR>
            </wsdl:documentation>
            <wsdl:input message="impl:validateInstance_In"/>
            <wsdl:output message="impl:validateInstance_Out"/>
            <wsdl:fault name="StandardException" message="impl:StandardException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ebx-dataservicesBinding" type="impl:ebx-dataservices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="closeBranch_Operation">
            <soap:operation soapAction="closeBranch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="closeVersion_Operation">
            <soap:operation soapAction="closeVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createBranch_Operation">
            <soap:operation soapAction="createBranch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createVersion_Operation">
            <soap:operation soapAction="createVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="lockBranch_Operation">
            <soap:operation soapAction="lockBranch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeBranch_Operation">
            <soap:operation soapAction="mergeBranch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unlockBranch_Operation">
            <soap:operation soapAction="unlockBranch" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validate_Operation">
            <soap:operation soapAction="validate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validateInstance_Operation">
            <soap:operation soapAction="validateInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="impl:Security" part="Security" use="literal"/>
                <soap:header message="impl:session" part="session" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="StandardException">
                <soap:fault name="StandardException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ebx-dataservicesService">
        <wsdl:port name="ebx-dataservices" binding="impl:ebx-dataservicesBinding">
            <soap:address location="http://localhost:8080/ebx-dataservices/connector"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
